/* ACC Custom Styles */

/* 
  ACC Colors
  Orange #f15a29
  Gray #58595b
*/

/* Mobile styles */

body {
  background-color: #58595b;
  padding-top: 50px;
  padding-bottom: 20px;
  font-family: "filson-pro", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

a,
button {
  -webkit-transition: all 0.1s linear;
  /* Safari */
  transition: all 0.1s linear;
  cursor: pointer;
  cursor: hand;
}

a img {
  -webkit-transition: opacity 0.1s linear;
  /* Safari */
  transition: opacity 0.1s linear;
}

a img:hover {
  opacity: 0.8;
}

.btn,
.section a.btn {
  display: inline-block;
  background-color: #da4615;
  color: #fff;
  border-radius: 0.6rem;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.btn:hover,
.section a.btn:hover {
  background-color: #000;
  color: #fff;
}

.section a.btn-donate,
.navbar-default .navbar-nav > li > a.btn-donate {
  background-color: #fff;
  color: #f15a29;
  border: none;
}

.section a.btn-donate:hover,
.section a.btn-donate:active,
.section a.btn-donate:focus,
.navbar-default .navbar-nav > li > a.btn-donate:hover,
.navbar-default .navbar-nav > li > a.btn-donate:active,
.navbar-default .navbar-nav > li > a.btn-donate:focus {
  background-color: #da4615;
  color: #fff;
}

/* Navbar */

.navbar-default {
  background-color: #f15a29;
  border-color: #da4615;
}

.navbar-default a {
  color: #fff;
}

.navbar-default .navbar-brand {
  color: #fff;
}

.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
  color: #242424;
}

.navbar-default .navbar-toggle {
  border-color: #da4615;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #da4615;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-default .navbar-text {
  color: #fff;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  color: #242424;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #fff;
}

.navbar-default .navbar-nav > .open > a {
  color: #000;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
  background-color: #fff;
  color: #f15a29;
}

.navbar-default .navbar-nav .active a,
.navbar-default .navbar-nav .active a:hover,
.navbar-default .navbar-nav .active a:focus {
  color: #000;
  background-color: #f15a29;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
  background-color: #f15a29;
}

.navbar-default .navbar-nav .active a {
  color: #fff;
}

.navbar-default .navbar-nav .active a:hover,
.navbar-default .navbar-nav .active a:focus {
  color: #58595b;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #da4615;
}

.navbar-default .icon {
  font-size: 1.6em;
}

.navbar-default .social a {
  display: inline-block;
}

.navbar-default .navbar-nav > li > a.btn-donate {
  padding: 1rem 0.8em;
  margin-right: 1rem;
}

/* Navbar dropdown menu */

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
  color: #000;
}

.navbar-default .navbar-nav .active a:hover,
.navbar-default .navbar-nav .active a:focus {
  color: #000;
}

.dropdown-menu {
  background-color: #f15a29;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  padding: 10px 15px 10px 25px;
}

.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
  background-color: #fff;
}

.nav li {
  text-align: center;
}

.nav li a {
  font-size: 16px;
  font-size: 1.143em;
  /* padding-top: 14px;
    padding-bottom: 14px; */
  /* padding: 2rem 1rem; */
}

.nav li.social a {
  width: 24%;
}

.navbar-default .navbar-nav > li.mobile-donate > a {
  background-color: #000;
  color: #fff;
}

.navbar-default .navbar-nav > li.mobile-donate > a:hover,
.navbar-default .navbar-nav > li.mobile-donate > a:focus {
  background-color: #fff;
  color: #000;
}

/* Sections */

.section {
  /* padding: 3em 0 4em 0; */
  padding: 1em 0 2rem 0;
}

.section {
  background-color: white;
  position: relative;
}

.alt-section {
  background-color: #f15a29;
  color: #fff;
}

.section-headline,
.section-subhead {
  text-align: center;
}

.section a {
  color: #d33f0d;
}

.section a:hover {
  color: #242424;
}

.section.alt-section a:hover {
  color: #fff;
}

.section p a {
  text-decoration: underline;
}

.section img {
  max-width: 100%;
  height: auto;
}

.section .img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.alt-section a {
  color: #fff;
}

/* Sections - Home */

#home-alert {
  padding: 1.5em 0 2.5em 0;
}

#home {
  background-color: #fff;
  /* background-image: url("../img/global/background-acc-2022-stadium-03.jpg"); */
  background-size: cover;
  background-position: center 15%;
  text-align: center;
}

.home-headline {
  background-image: url("../img/2025/web-logo-2025-13th-01.png");
  background-image: url("../img/2025/web-logo-2025-13th-01.svg");
  background-position: center top;
  background-repeat: no-repeat;
  height: 7em;
}

.alt-section {
  background-color: #f15a29;
  padding: 2em 0 3em 0;
  text-align: center;
  color: #fff;
}

.alt-section a {
  color: #fff;
}

.alt-section a:hover {
  color: #242424;
  text-decoration: none;
}

#home-sub {
  padding: 1em 0 1.5em 0;
}

.home-subhead,
.home-benefitting {
  color: #fff;
  line-height: 1.5em;
  font-size: 18px;
}

.home-subhead {
  margin-bottom: 1em;
}

.home-subhead .icon {
  padding-left: 0.25em;
}

.home-subhead-time,
.home-subhead-date,
.home-subhead-location,
.hardywood-top {
  display: block;
}

.home-subhead-date {
  margin-bottom: 1em;
}

.section .feed-more-graphic {
  padding: 1em;
  max-width: 70%;
  background-color: #fff;
}

.section .home-subhead-virtual a.btn-donate {
  margin-bottom: 2rem;
  font-size: 3.5rem;
  border-radius: 1rem;
  padding: 1rem 2rem;
  max-width: 100%;
}

.section .home-subhead-virtual a.btn-donate .glyphicon {
  top: 7px;
}

.next-panel {
  width: 100%;
  position: absolute;
  bottom: 1em;
  text-align: center;
}

.next-panel .icon {
  font-size: 5em;
  color: #fff;
}

/* Benefiting */

#benefiting {
  padding: 3em 0 0 0;
  text-align: center;
}

/* About */

#about h3 {
  margin: 2em 0 1em 0;
}

.about-video {
  margin: 2em 0;
}

#recognition img {
  border: 1px solid #e8e8e8;
  margin: 0 auto;
}

.rec-doc {
  margin-bottom: 2em;
}

.participants-wrap {
  margin: 1em 0 3em 0;
}

.participant {
  text-align: center;
  /* align the inline(-block) elements horizontally */
  font: 0/0 a;
  /* remove the gap between inline(-block) elements */
}

.participant:before {
  /* create a full-height inline block pseudo=element */
  content: " ";
  display: inline-block;
  vertical-align: middle;
  /* vertical alignment of the inline element */
  height: 100%;
}

.participant img {
  display: inline-block;
  margin: 0 auto 2em auto;
  width: 90%;
  height: auto;
  vertical-align: middle;
  font: 16px/1 Arial sans-serif;
}

.participant-headline {
  display: none;
}

.participant-headline,
.sponsor-headline,
.people-headline {
  font-size: 1em;
  text-align: center;
}

.photos-wrap {
  margin-bottom: 1.5em;
}

.people {
  margin-bottom: 1em;
}

.people-name,
.people-title,
.people-school {
  display: block;
}

.people-name {
  font-weight: bold;
}

.people-title,
.people-school {
  font-style: italic;
}

/* Sponsors */

.sponsors-wrap {
  margin: 1em 0 3em 0;
}

/* Calendar */

.calendar-header {
  text-align: center;
  margin: 2rem 0 3rem 0;
}

.calendar-event {
  margin-bottom: 1em;
}

.calendar-date {
  color: #fff;
  background-color: #333;
  font-weight: bold;
  text-align: center;
  padding: 0.75em;
  margin-top: 10px;
}

/* Footer */

.section.footer {
  background-color: #58595b;
  text-align: center;
}

.footer,
.footer a,
.footer .section-headline {
  color: #fff;
}

.footer .section-headline {
  margin-bottom: 1em;
}

.footer ul {
  list-style: none;
  margin: 0 0 1em;
  padding: 0;
}

.footer ul li a {
  display: block;
  padding: 0.5em 0;
}

.footer .footer-social {
  display: block;
  margin-bottom: 2em;
}

.footer .footer-social .icon {
  margin-left: 0.5em;
}

.footer-copyright,
.footer-updated,
.footer-webmaster {
  display: block;
  margin: 1em 0;
  padding: 0;
}

/* Misc */

.back-to-top {
  display: none;
  position: fixed;
  left: 1em;
  bottom: 1em;
  background-color: #fff;
  text-align: center;
  height: 60px;
  width: 60px;
  border-radius: 60px;
}

.back-to-top span {
  color: #f15a29;
  font-size: 3em;
  line-height: 54px;
}

/* Media queries */

@media (min-width: 481px) {
  .home-subhead-time,
  .home-subhead-date,
  .hardywood-top,
  .hardywood-bottom {
    display: inline;
  }
}

@media (min-width: 768px) {
  .navbar {
    padding-left: 15px;
    padding-right: 15px;
  }

  .nav li {
    text-align: left;
  }

  .navbar-nav .dropdown-toggle {
    padding: 2rem 1.8rem 1.8rem 1.8rem;
  }

  .nav li.social a {
    width: auto;
    /* padding-top: 10px; */
    /* padding-bottom: 10px; */
    /* padding: 3rem 0.5rem; */
  }

  .navbar-brand {
    padding: 2rem 1rem;
  }

  .navbar-default .navbar-brand {
    /* padding: 3rem 1rem; */
    line-height: 1;
    height: auto;
  }

  .navbar-default .social {
    /* padding-left: 15px; */
    padding: 0 0.5rem 0 1rem;
  }

  .navbar-default .social a {
    padding-left: 0;
  }

  .nav .mobile-only {
    display: none;
  }

  .dropdown-menu {
    padding: 0;
  }

  #home {
    padding: 3em 0;
    /* background-position: center center; */
    background-position: center 52%;
  }

  .home-headline {
    height: 275px;
    height: 35vh;
    background-repeat: no-repeat;
  }

  .home-subhead,
  .home-benefitting {
    font-size: 24px;
  }

  .home-subhead-time,
  .home-subhead-date,
  .hardywood-top,
  .hardywood-bottom {
    display: inline;
  }

  #home-sub {
    padding: 1em 0 2em 0;
  }

  .section .home-subhead-virtual a.btn-donate {
    font-size: 4em;
    /* padding: 1.5rem 4rem 2rem 4rem; */
    padding: 1.25rem 3rem 1.5rem 3rem;
  }

  .section .home-subhead-virtual a.btn-donate .glyphicon {
    top: 11px;
  }

  .section .feed-more-graphic {
    max-width: 50%;
  }

  #about .section-headline {
    /*margin-bottom: 1.5em;*/
  }

  .participant img {
    width: 80%;
  }

  .calendar-header {
    margin: 5rem 0 3rem 0;
  }

  .events-past .col-md-6:nth-child(odd) {
    clear: left;
  }
}

/* Medium devices (desktops, 992px and up) */

@media (min-width: 992px) {
  .footer-copyright,
  .footer-updated,
  .footer-webmaster {
    display: inline-block;
  }

  .footer-copyright,
  .footer-updated {
    margin-right: 2em;
    padding-right: 2em;
    border-right: 1px solid #fff;
  }
}
