<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
  <!--<![endif]-->

  <head>
    <title>The 13th Annual Alumni Charity Challenge</title>
    <link rel="canonical" href="https://alumnicharity.org" />

    <!-- Meta -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta
      name="description"
      content="The Alumni Charity Challenge was established in 2013 by the VCU Alumni Richmond Chapter. During the past ten years, the Alumni Charity Challenge has collected over 478 tons of canned goods with the support of over 40+ colleges from in-state and out-of-state."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#ffffff" />

    <!-- Open Graph -->
    <meta
      property="og:title"
      content="The 13th Annual Alumni Charity Challenge"
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://alumnicharity.org" />
    <meta
      property="og:description"
      content="The Alumni Charity Challenge was established in 2013 by the VCU Alumni Richmond Chapter. During the past ten years, the Alumni Charity Challenge has collected over 478 tons of canned goods with the support of over 40+ colleges from in-state and out-of-state."
    />
    <meta
      property="og:image"
      content="/img/2025/web-logo-2025-01-open-graph.png"
    />
    <meta
      property="og:image:secure_url"
      content="/img/2025/web-logo-2025-01-open-graph.png"
    />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta
      property="og:image:alt"
      content="The 13th Annual Alumni Charity Challenge"
    />

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png" />
    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />
    <link rel="manifest" href="manifest.json" />
    <link rel="mask-icon" href="safari-pinned-tab.svg" color="#5bbad5" />

    <!-- Bootstrap core CDN styles -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />

    <!-- Site styles -->
    <style>
      {% include 'bundle.css'  %}
    </style>

    <!-- Modernizr script -->
    <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>

    <!-- Typekit -->
    <script src="https://use.typekit.net/rla2kan.js"></script>
    <script>
      try {
        Typekit.load({
          async: true,
        });
      } catch (e) {}
    </script>

    <!-- Universal Analytics tag begin -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-83223404-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "UA-83223404-1");
    </script>
    <!-- Universal Analytics tag end -->
  </head>

  <!-- GA4 tag begin -->
  <!-- Google tag (gtag.js) -->
  <script
    async
    src="https://www.googletagmanager.com/gtag/js?id=G-C65WWKXED5"
  ></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());
    gtag("config", "G-C65WWKXED5");
  </script>
  <!-- GA4 tag end -->

  <body id="top" data-spy="scroll" data-target="#navbar-main" data-offset="0">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    {% include '_header.html' %}

    <div id="home" class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="home-headline">
              <span class="sr-only">13th Annual Alumni Charity Challenge</span>
            </h1>
            <p></p>
          </div>
        </div>
      </div>
    </div>

    <div id="home-sub" class="section alt-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 class="home-subhead">
              <!-- <span class="home-subhead-time">TBD p.m.</span> -->
              <span class="home-subhead-date">Wednesday, Nov. 19, 2025</span>
              <a
                href="https://maps.app.goo.gl/upk1BZUe1vrzJ1oU9"
                class="home-subhead-location"
                target="_blank"
                rel="noopener"
                ><span class="hardywood-bottom">River City Roll</span>
                <span class="icon fa fa-map-marker" aria-hidden="true"></span
              ></a>
            </h2>
          </div>
        </div>
        <!-- <div class="row hidden">
          <div class="col-md-12 home-subhead-virtual">
            <a
              href="https://give.feedmore.org/Alumni-Charity-Challenge-2025"
              class="btn btn-default btn-lg btn-donate"
              >Donate
              <span
                class="glyphicon glyphicon-menu-right"
                aria-hidden="true"
              ></span
            ></a>
          </div>
        </div> -->
      </div>
    </div>

    <div id="benefiting" class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 class="section-headline">Benefiting</h2>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 home-about-benefiting">
            <!-- <a
              href="https://give.feedmore.org/Alumni-Charity-Challenge-2024"
              target="_blank"
              rel="noopener"
            > -->
            <img
              class="feed-more-graphic"
              src="img/logos/Feed_More-logo-2019.png"
              alt="Feed More"
            />
            <!-- </a> -->
          </div>
        </div>
      </div>
    </div>

    <div id="about" class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 class="section-headline">About</h2>
          </div>
        </div>

        <div class="row"></div>

        <div id="history" class="row">
          <div class="col-md-6">
            <h3>History</h3>
            <p>
              The Alumni Charity Challenge was established in 2013 by the VCU
              Alumni Richmond Chapter. During the past ten years, the Alumni
              Charity Challenge has collected over 478 tons of canned goods with
              the support of over 40+ colleges from in-state and out-of-state.
              Feed More collects, prepares and distributes food to neighbors in
              need across 29 counties and five cities in Central Virginia.
            </p>
            <h3>Uniting alumni chapters</h3>
            <p>
              The partnership with Feed More is a continuation of the VCU Alumni
              Richmond Chapter&rsquo;s ongoing mission to serve the Richmond
              community through outreach. This event was established with the
              hopes of becoming the catalyst in mobilizing all alumni chapters
              in Virginia to provide ongoing support to Feed More through
              raising awareness, educating a unified Richmond community and
              collecting canned goods to actively fight food insecurity in
              Central Virginia.
            </p>
          </div>

          <div class="col-md-6 text-center">
            <img
              class="img-responsive"
              src="img/2025/web-logo-2025-13th-01.png"
              alt="The 13th Annual Alumni Charity Challenge"
            />
          </div>
        </div>

        <div id="recognition" class="row">
          <div class="col-xs-12 text-center">
            <h3>Recognition</h3>
            <div class="row">
              <div class="col-xs-6 col-sm-3 rec-doc">
                <a
                  href="documents/ACC-2018-Alumni_Charity-Senator_Warner.pdf"
                  target="_blank"
                  rel="noopener"
                >
                  <p>
                    <img
                      class="img-responsive"
                      src="/img/2018/ACC-2018-Alumni_Charity-Senator_Warner.png"
                      alt="U.S. Senator Mark Warners greeting letter"
                    />
                  </p>
                  <p>U.S. Senator Mark Warner&rsquo;s greeting letter</p>
                </a>
              </div>
              <div class="col-xs-6 col-sm-3 rec-doc">
                <a
                  href="documents/ACC-2018-Alumni_Charity-Senator_Kaine.pdf"
                  target="_blank"
                  rel="noopener"
                >
                  <p>
                    <img
                      class="img-responsive"
                      src="/img/2018/ACC-2018-Alumni_Charity-Senator_Kaine.png"
                      alt="U.S. Senator Tim Kaines greeting letter"
                    />
                  </p>
                  <p>U.S. Senator Tim Kaine&rsquo;s greeting letter</p>
                </a>
              </div>
              <div class="col-xs-6 col-sm-3 rec-doc">
                <a
                  href="documents/ACC-2018-Alumni_Charity-Governor.pdf"
                  target="_blank"
                  rel="noopener"
                >
                  <p>
                    <img
                      class="img-responsive"
                      src="/img/2018/ACC-2018-Alumni_Charity-Governor.png"
                      alt="Governors Proclamation"
                    />
                  </p>
                  <p>Governor&rsquo;s Proclamation</p>
                </a>
              </div>
              <div class="col-xs-6 col-sm-3 rec-doc">
                <a
                  href="documents/ACC-2018-Alumni_Charity-Mayor.pdf"
                  target="_blank"
                  rel="noopener"
                >
                  <p>
                    <img
                      class="img-responsive"
                      src="/img/2018/ACC-2018-Alumni_Charity-Mayor.png"
                      alt="City of Richmond Proclamation document"
                    />
                  </p>
                  <p>City of Richmond Proclamation</p>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div id="participants" class="row">
          <div class="col-md-12">
            <h3 class="section-headline">2025 Participants</h3>
          </div>
        </div>

        <div class="participants-wrap row">
          <div class="participant col-xs-4 col-sm-3 col-md-2">
            <img
              src="/img/logos/Auburn_University-logo-athletics.png"
              alt="Auburn University"
            />
            <h3 class="participant-headline">Auburn University</h3>
          </div>

          <div class="participant col-xs-4 col-sm-3 col-md-2">
            <img
              src="/img/logos/East_Carolina_University-logo-primary.png"
              alt="East Carolina University"
            />
            <h3 class="participant-headline">East Carolina University</h3>
          </div>

          <div class="participant col-xs-4 col-sm-3 col-md-2">
            <img
              src="/img/logos/Elon_University-logo.png"
              alt="Elon University"
            />
            <h3 class="participant-headline">Elon University</h3>
          </div>

          <div class="participant col-xs-4 col-sm-3 col-md-2">
            <img
              src="/img/logos/Fayetteville_State_University-logo-2025.jpg"
              alt="Fayetteville State University"
            />
            <h3 class="participant-headline">Fayetteville State University</h3>
          </div>

          <div class="participant col-xs-4 col-sm-3 col-md-2">
            <img
              src="/img/logos/George_Mason_University-01.png"
              alt="George Mason University"
            />
            <h3 class="participant-headline">George Mason University</h3>
          </div>

          <div class="participant col-xs-4 col-sm-3 col-md-2">
            <img
              src="/img/logos/Hampton_University-logo.png"
              alt="Hampton University"
            />
            <h3 class="participant-headline">Hampton University</h3>
          </div>

          <div class="participant col-xs-4 col-sm-3 col-md-2">
            <img
              src="/img/logos/Howard_University-logo-02.png"
              alt="Howard University"
            />
            <h3 class="participant-headline">Howard University</h3>
          </div>

          <div class="participant col-xs-4 col-sm-3 col-md-2">
            <img
              src="/img/logos/James_Madison_University-logo.png"
              alt="James Madison University"
            />
            <h3 class="participant-headline">James Madison University</h3>
          </div>

          <div class="participant col-xs-4 col-sm-3 col-md-2">
            <img
              src="/img/logos/Longwood_University-logo.png"
              alt="Longwood University"
            />
            <h3 class="participant-headline">Longwood University</h3>
          </div>

          <div class="participant col-xs-4 col-sm-3 col-md-2">
            <img
              src="/img/logos/Morgan_State_University-logo.png"
              alt="Morgan State University"
            />
            <h3 class="participant-headline">Morgan State University</h3>
          </div>

          <div class="participant col-xs-4 col-sm-3 col-md-2">
            <img
              src="/img/logos/Norfolk_State_University-logo-2022-02.png"
              alt="Norfolk State University"
            />
            <h3 class="participant-headline">Norfolk State University</h3>
          </div>

          <div class="participant col-xs-4 col-sm-3 col-md-2">
            <img
              src="/img/logos/Penn_State_University-logo-01.png"
              alt="Penn State University"
            />
            <h3 class="participant-headline">Penn State University</h3>
          </div>

          <div class="participant col-xs-4 col-sm-3 col-md-2">
            <img
              src="/img/logos/Roanoke_College-logo.png"
              alt="Roanoke College"
            />
            <h3 class="participant-headline">Roanoke College</h3>
          </div>

          <div class="participant col-xs-4 col-sm-3 col-md-2">
            <img
              src="/img/logos/South_Carolina_State_University-logo.png"
              alt="South Carolina State University"
            />
            <h3 class="participant-headline">
              South Carolina State University
            </h3>
          </div>

          <div class="participant col-xs-4 col-sm-3 col-md-2">
            <img
              src="/img/logos/University_of_Alabama-logo-2021.png"
              alt="University of Alabama"
            />
            <h3 class="participant-headline">University of Alabama</h3>
          </div>

          <div class="participant col-xs-4 col-sm-3 col-md-2">
            <img
              src="/img/logos/University_of_Georgia-logo.png"
              alt="University of Georgia"
            />
            <h3 class="participant-headline">University of Georgia</h3>
          </div>

          <div class="participant col-xs-4 col-sm-3 col-md-2">
            <img
              src="/img/logos/University_of_Lynchburg-logo-2018.png"
              alt="University of Lynchburg"
            />
            <h3 class="participant-headline">University of Lynchburg</h3>
          </div>

          <div class="participant col-xs-4 col-sm-3 col-md-2">
            <img
              src="/img/logos/University_of_Michigan-logo.png"
              alt="University of Michigan"
            />
            <h3 class="participant-headline">University of Michigan</h3>
          </div>

          <div class="participant col-xs-4 col-sm-3 col-md-2">
            <img
              src="/img/logos/University_of_North_Carolina-logo-2017.png"
              alt="University of North Carolina"
            />
            <h3 class="participant-headline">University of North Carolina</h3>
          </div>

          <div class="participant col-xs-4 col-sm-3 col-md-2">
            <img
              src="/img/logos/University_of_South_Carolina-logo-2025.png"
              alt="University of South Carolina"
            />
            <h3 class="participant-headline">University of South Carolina</h3>
          </div>

          <div class="participant col-xs-4 col-sm-3 col-md-2">
            <img
              src="/img/logos/University_of_Virginia-logo-2022.png"
              alt="University of Virginia"
            />
            <h3 class="participant-headline">University of Virginia</h3>
          </div>

          <div class="participant col-xs-4 col-sm-3 col-md-2">
            <img
              src="/img/logos/Virginia_Commonwealth_University-logo.png"
              alt="Virginia Commonwealth University"
            />
            <h3 class="participant-headline">
              Virginia Commonwealth University
            </h3>
          </div>

          <div class="participant col-xs-4 col-sm-3 col-md-2">
            <img
              src="/img/logos/Virginia_Union_University-logo.png"
              alt="Virginia Union University"
            />
            <h3 class="participant-headline">Virginia Union University</h3>
          </div>

          <div class="participant col-xs-4 col-sm-3 col-md-2">
            <img
              src="/img/logos/Virginia_Wesleyan_University-logo.png"
              alt="Virginia Wesleyan University"
            />
            <h3 class="participant-headline">Virginia Wesleyan University</h3>
          </div>

          <div class="participant col-xs-4 col-sm-3 col-md-2">
            <img
              src="/img/logos/West_Virginia_University-logo.png"
              alt="West Virginia University"
            />
            <h3 class="participant-headline">West Virginia University</h3>
          </div>

          <div class="participant col-xs-4 col-sm-3 col-md-2">
            <img
              src="/img/logos/College_of_William_and_Mary-logo-2025.png"
              alt="William &amp; Mary"
            />
            <h3 class="participant-headline">College of William &amp; Mary</h3>
          </div>

          <div class="participant col-xs-4 col-sm-3 col-md-2">
            <img
              src="/img/logos/Yale_University-logo-2024.png"
              alt="Yale University"
            />
            <h3 class="participant-headline">Yale University</h3>
          </div>
        </div>
        <!-- end .participants-wrap -->

        <div id="leadership" class="row">
          <div class="col-md-12">
            <h3 class="section-headline">Leadership</h3>
          </div>
        </div>

        <div class="people-wrap row">
          <div class="people col-xs-6 col-sm-4">
            <p class="people-headline">
              <span class="people-name"
                ><a href="mailto:stemmlejr@mymail.vcu.edu"
                  >Joey Stemmle</a
                ></span
              >
              <span class="people-title">Co-chair</span>
              <span class="people-school">VCU</span>
            </p>
          </div>

          <div class="people col-xs-6 col-sm-4">
            <p class="people-headline">
              <span class="people-name"
                ><a href="mailto:phamkt623@gmail.com">Khanh Burks</a></span
              >
              <span class="people-title">Co-chair</span>
              <span class="people-school">VCU</span>
            </p>
          </div>

          <div class="people col-xs-6 col-sm-4">
            <p class="people-headline">
              <span class="people-name"
                ><a href="mailto:alumnicharitychallenge@gmail.com"
                  >Timmy Nguyen</a
                ></span
              >
              <span class="people-title">Corporate Sponsorship</span>
              <span class="people-school">VCU</span>
            </p>
          </div>

          <div class="people col-xs-6 col-sm-4 col-sm-offset-2">
            <p class="people-headline">
              <span class="people-name"
                ><a href="mailto:regina.nguyen@gmail.com"
                  >Regina Nguyen</a
                ></span
              >
              <span class="people-title">Marketing</span>
              <span class="people-school">VCU</span>
            </p>
          </div>

          <div class="people col-xs-6 col-sm-4">
            <p class="people-headline">
              <span class="people-name"
                ><a href="mailto:alumnicharitychallenge+webmaster@gmail.com"
                  >Jeff Green</a
                ></span
              >
              <span class="people-title">Webmaster</span>
              <span class="people-school">VCU</span>
            </p>
          </div>
        </div>

        <div id="calendar" class="row">
          <div class="col-md-12 calendar-wrap">
            <h3 class="section-headline">Calendar</h3>

            <h4 class="calendar-header">Upcoming events</h4>

            <div class="row events-upcoming">
              <div class="col-md-6 col-md-offset-3">
                <div class="row calendar-event">
                  <div class="col-xs-2 col-xs-offset-1 calendar-date">
                    Nov<br />
                    19<br />
                    2025
                  </div>
                  <div class="col-xs-9 calendar-description">
                    <h5 class="calendar-event-name">
                      2025 Alumni Charity Challenge
                    </h5>
                  </div>
                </div>
              </div>
            </div>

            <h4 class="calendar-header">Past events</h4>

            <div class="row events-past">
              <div class="col-md-6">
                <div class="row calendar-event">
                  <div class="col-xs-2 col-xs-offset-1 calendar-date">
                    Sept<br />
                    12<br />
                    2024
                  </div>
                  <div class="col-xs-9 calendar-description">
                    <h5 class="calendar-event-name">
                      2024 Alumni Charity Challenge
                    </h5>
                    <p><strong>Total:</strong> 120,644 lbs.</p>
                    <ol>
                      <li>Virginia Commonwealth University - 44,024 lbs.</li>
                      <li>University of Michigan - 18,598 lbs.</li>
                      <li>Howard University - 16,808 lbs.</li>
                      <li>Longwood University - 11,466 lbs.</li>
                      <li>Yale University - 7,482 lbs.</li>
                    </ol>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="row calendar-event">
                  <div class="col-xs-2 col-xs-offset-1 calendar-date">
                    Sept<br />
                    13<br />
                    2023
                  </div>
                  <div class="col-xs-9 calendar-description">
                    <h5 class="calendar-event-name">
                      2023 Alumni Charity Challenge
                    </h5>
                    <p><strong>Total:</strong> 160,423 lbs.</p>
                    <ol>
                      <li>Virginia Commonwealth University - 30,048 lbs.</li>
                      <li>Howard University - 26,841 lbs.</li>
                      <li>University of Michigan - 17,717 lbs.</li>
                      <li>University of Virginia - 14,250 lbs.</li>
                      <li>Hampton University - 11,673 lbs.</li>
                    </ol>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="row calendar-event">
                  <div class="col-xs-2 col-xs-offset-1 calendar-date">
                    Sept<br />
                    21<br />
                    2022
                  </div>
                  <div class="col-xs-9 calendar-description">
                    <h5 class="calendar-event-name">
                      2022 Alumni Charity Challenge
                    </h5>
                    <p><strong>Total:</strong> 159,870 lbs.</p>
                    <ol>
                      <li>University of Michigan - 27,343 lbs.</li>
                      <li>Howard University - 22,865 lbs.</li>
                      <li>Virginia Commonwealth University - 21,272 lbs.</li>
                      <li>Duke University - 18,526 lbs.</li>
                      <li>Virginia State University - 10,245 lbs.</li>
                    </ol>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="row calendar-event">
                  <div class="col-xs-2 col-xs-offset-1 calendar-date">
                    Sept<br />
                    21<br />
                    2021
                  </div>
                  <div class="col-xs-9 calendar-description">
                    <h5 class="calendar-event-name">
                      2021 Alumni Charity Challenge
                    </h5>
                    <p><strong>Total:</strong> 170,398 lbs.</p>
                    <h6>Overall</h6>
                    <ol>
                      <li>Howard University - 29,980 lbs.</li>
                      <li>VCU - 27,986 lbs.</li>
                      <li>University of North Carolina - 24,789 lbs.</li>
                      <li>Virginia Union University - 19,563 lbs.</li>
                      <li>University of Michigan - 10,673 lbs.</li>
                    </ol>
                    <h6>Top 3 Small Size Schools</h6>
                    <ol>
                      <li>Virginia Union University</li>
                      <li>Campbell University</li>
                      <li>Hampton University</li>
                    </ol>
                    <h6>Top 3 Medium Size Schools</h6>
                    <ol>
                      <li>Howard University</li>
                      <li>Elon University</li>
                      <li>Appalachian State University</li>
                    </ol>
                    <h6>Top 3 In-State Schools</h6>
                    <ol>
                      <li>Virginia Commonwealth University</li>
                      <li>Virginia Union University</li>
                      <li>Hampton University</li>
                    </ol>
                    <h6>Top 3 Out-of-State Schools</h6>
                    <ol>
                      <li>Howard University</li>
                      <li>University of North Carolina</li>
                      <li>University of Michigan</li>
                    </ol>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="row calendar-event">
                  <div class="col-xs-2 col-xs-offset-1 calendar-date">
                    Sept<br />
                    23<br />
                    2020
                  </div>
                  <div class="col-xs-9 calendar-description">
                    <h5 class="calendar-event-name">
                      2020 Alumni Charity Challenge
                    </h5>
                    <p>
                      <strong>Total:</strong> 133,765 lbs.<br />
                      <strong>Overall winner:</strong> VCU - 25,416 lbs.<br />
                      <strong>2<sup>nd</sup> place:</strong> University of
                      Michigan - 16,646 lbs.<br />
                      <strong>3<sup>rd</sup> place:</strong> Howard University -
                      14,946 lbs.
                    </p>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="row calendar-event">
                  <div class="col-xs-2 col-xs-offset-1 calendar-date">
                    Sept<br />
                    18<br />
                    2019
                  </div>
                  <div class="col-xs-9 calendar-description">
                    <h5 class="calendar-event-name">
                      2019 Alumni Charity Challenge
                    </h5>
                    <p>
                      <strong>Total:</strong> 151,291 lbs.<br />
                      <strong>Overall winner:</strong> VCU - 28,181 lbs.<br />
                      <strong>2<sup>nd</sup> place:</strong> University of North
                      Carolina - 16,004 lbs.<br />
                      <strong>3<sup>rd</sup> place:</strong> University of
                      Tennessee - 13,949 lbs.
                    </p>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="row calendar-event">
                  <div class="col-xs-2 col-xs-offset-1 calendar-date">
                    Sept<br />
                    12<br />
                    2018
                  </div>
                  <div class="col-xs-9 calendar-description">
                    <h5 class="calendar-event-name">
                      2018 Alumni Charity Challenge
                    </h5>
                    <p>
                      <strong>Total:</strong> 107,696 lbs.<br />
                      <strong>Overall winner:</strong> West Virginia University
                      - 11,780 lbs.<br />
                      <strong>2<sup>nd</sup> place:</strong> Duke - 9,232
                      lbs.<br />
                      <strong>3<sup>rd</sup> place:</strong> University of
                      Michigan - 8,303 lbs.
                    </p>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="row calendar-event">
                  <div class="col-xs-2 col-xs-offset-1 calendar-date">
                    Sept<br />
                    20<br />
                    2017
                  </div>
                  <div class="col-xs-9 calendar-description">
                    <h5 class="calendar-event-name">
                      2017 Alumni Charity Challenge
                    </h5>
                    <p>
                      <strong>Total:</strong> 48,355 lbs.<br />
                      <strong>Overall winner:</strong> VCU - 12,454 lbs.<br />
                      <strong>Out of state winner:</strong> Michigan - 4,886
                      lbs.
                    </p>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="row calendar-event">
                  <div class="col-xs-2 col-xs-offset-1 calendar-date">
                    Sept<br />
                    14<br />
                    2016
                  </div>
                  <div class="col-xs-9 calendar-description">
                    <h5 class="calendar-event-name">
                      2016 Alumni Charity Challenge
                    </h5>
                    <p>
                      <strong>Total:</strong> 11,413 lbs.<br />
                      <strong>Overall winner:</strong> VCU - 3,632 lbs.<br />
                      <strong>Out of state winner:</strong> Penn State - 831
                      lbs.
                    </p>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="row calendar-event">
                  <div class="col-xs-2 col-xs-offset-1 calendar-date">
                    Sept<br />
                    30<br />
                    2015
                  </div>
                  <div class="col-xs-9 calendar-description">
                    <h5 class="calendar-event-name">
                      2015 Alumni Charity Challenge
                    </h5>
                    <p>
                      <strong>Total:</strong> 12,179 lbs.<br />
                      <strong>Winner:</strong> VCU - 2,647 lbs.<br />
                      <strong>2<sup>nd</sup> place:</strong> Virginia Tech -
                      1,742 lbs.<br />
                      <strong>3<sup>rd</sup> place:</strong> George Mason
                      University - 1,411 lbs.
                    </p>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="row calendar-event">
                  <div class="col-xs-2 col-xs-offset-1 calendar-date">
                    Sept<br />
                    17<br />
                    2014
                  </div>
                  <div class="col-xs-9 calendar-description">
                    <h5 class="calendar-event-name">
                      2014 Alumni Charity Challenge
                    </h5>
                    <p>
                      <strong>Total:</strong> 5,649 lbs.<br />
                      <strong>Winner:</strong> George Mason University - 2,276
                      lbs.<br />
                      <strong>2<sup>nd</sup> place:</strong> Virginia Tech - 732
                      lbs.<br />
                      <strong>3<sup>rd</sup> place:</strong> VCU - 603 lbs.
                    </p>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="row calendar-event">
                  <div class="col-xs-2 col-xs-offset-1 calendar-date">
                    Oct<br />
                    23<br />
                    2013
                  </div>
                  <div class="col-xs-9 calendar-description">
                    <h5 class="calendar-event-name">
                      2013 Alumni Charity Challenge
                    </h5>
                    <p>
                      <strong>Total:</strong> 2,776 lbs.<br />
                      <strong>Winner:</strong> George Mason University - 1091
                      lbs.<br />
                      <strong>2<sup>nd</sup> place:</strong> VCU - 602 lbs.<br />
                      <strong>3<sup>rd</sup> place:</strong> James Madison
                      University - 327 lbs.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- end .calendar-wrap -->
        </div>
        <!-- end .row -->
      </div>
      <!-- end .container -->
    </div>
    <!-- end #calendar -->

    {% include '_footer.html' %}
  </body>
</html>
