<footer id="footer" class="section alt-section footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="section-headline">Contact us</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <ul class="footer-social">
          <li>
            <a href="https://www.facebook.com/AlumniCharity/" target="_blank" rel="noopener"><span>Facebook</span><span class="icon fa fa-facebook-official" aria-hidden="true"></span></a>
          </li>
          <li>
            <a href="https://twitter.com/alumnicharity" target="_blank" rel="noopener"><span>Twitter</span><span class="icon fa fa-twitter" aria-hidden="true"></span></a>
          </li>
          <li>
            <a href="https://www.instagram.com/alumnicharity/" target="_blank" rel="noopener"><span>Instagram</span><span class="icon fa fa-instagram" aria-hidden="true"></span></a>
          </li>
          <li>
            <a href="mailto:alumnicharitychallenge+accwebsite@gmail.com" target="_blank" rel="noopener"><span>Email</span><span class="icon fa fa-envelope" aria-hidden="true"></span></a>
          </li>
        </ul>
        <p class="footer-details">
          <span class="footer-copyright">&copy; 2023 Alumni Charity Challenge</span>
          <span class="footer-updated">Updated 7/31/2023</span>
          <span class="footer-webmaster">Questions about the site? <a href="mailto:alumnicharitychallenge+webmaster@gmail.com">Contact the webmaster.</a></span>
        </p>
      </div>
    </div>
  </div>
</footer>

<a href="#top" class="back-to-top" title="Click to return on the top page" role="button">
  <span class="icon fa fa-angle-up" aria-hidden="true"></span>
  <span class="sr-only">Link to top</span>
</a>

<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>
  window.jQuery || document.write('<script src="js/vendor/jquery-1.12.4.min.js"><\/script>');
</script>

<!-- Bootstrap CDN javascript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<!-- Font Awesome -->
<script src="https://use.fontawesome.com/8cb8df1f60.js"></script>

<!-- Site scripts -->
<script src="./js/main.js"></script>
