<div
  id="navbar-main"
  class="navbar navbar-default navbar-fixed-top"
  role="navigation"
>
  <div class="navbar-header">
    <button
      type="button"
      class="navbar-toggle collapsed"
      data-toggle="collapse"
      data-target="#navbar"
      aria-expanded="false"
      aria-controls="navbar"
    >
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#top">Alumni Charity Challenge</a>
  </div>
  <!-- end .navbar-header -->

  <div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown hidden-xs">
        <a
          href="#"
          class="dropdown-toggle"
          data-toggle="dropdown"
          role="button"
          aria-haspopup="true"
          aria-expanded="false"
          >Menu <span class="caret"></span
        ></a>
        <ul class="dropdown-menu">
          <li><a href="#about">About ACC</a></li>
          <li><a href="#history">History</a></li>
          <li><a href="#recognition">Recognition</a></li>
          <li><a href="#participants">Participants</a></li>
          <li><a href="#leadership">Leadership</a></li>
          <li><a href="#calendar">Calendar</a></li>
        </ul>
      </li>
      <!-- <li class="mobile-only mobile-donate"><a href="https://give.feedmore.org/Alumni-Charity-Challenge-2024">Donate</a></li> -->
      <li class="mobile-only"><a href="#about">About ACC</a></li>
      <li class="mobile-only"><a href="#participants">Participants</a></li>
      <li class="mobile-only"><a href="#leadership">Leadership</a></li>
      <li class="mobile-only"><a href="#calendar">Calendar</a></li>
      <li class="mobile-only"><a href="#sponsors">Sponsors</a></li>
      <li class="mobile-only"><a href="#footer">Contact us</a></li>
      <li class="social hidden-xs">
        <a
          href="https://www.facebook.com/AlumniCharity/"
          target="_blank"
          rel="noopener"
          ><span class="icon fa fa-facebook-official" aria-hidden="true"></span
          ><span class="sr-only">Facebook</span></a
        >
        <a
          href="https://twitter.com/alumnicharity"
          target="_blank"
          rel="noopener"
          ><span class="icon fa fa-twitter" aria-hidden="true"></span
          ><span class="sr-only">Twitter</span></a
        >
        <a
          href="https://www.instagram.com/alumnicharity/"
          target="_blank"
          rel="noopener"
          ><span class="icon fa fa-instagram" aria-hidden="true"></span
          ><span class="sr-only">Instagram</span></a
        >
        <a
          href="mailto:alumnicharitychallenge@gmail.com"
          target="_blank"
          rel="noopener"
          ><span class="icon fa fa-envelope" aria-hidden="true"></span
          ><span class="sr-only">Email</span></a
        >
      </li>
      <!-- <li class="navbar-donate hidden-xs">
        <a href="https://give.feedmore.org/Alumni-Charity-Challenge-2024" class="btn btn-default navbar-btn btn-donate"> Donate <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> </a>
      </li> -->
    </ul>
  </div>
  <!-- end .navbar-collapse -->
</div>
<!-- end .navbar -->

<!-- Update bar -->
<!-- <div id="home-alert" class="section">
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2 class="text-center">Headline</h2>
      <p>Text here</p>
    </div>
  </div>
</div>
</div> -->
